*.out
*.json
*.txt
*/models/*
*/checkpoints/*
.vscode/*
build
*.csv
*.tinn
*.log
*.o
*.plist
*.yml
*.DS_Store
*.bin
*.idx*-ubyte

# Python venv files
**/venv/**
+
*.cpython-*

# Plotting module
*.png
*.tar
federated_learning_analysis/input/*
