*.out
*.json
*/models/*
*/checkpoints/*
.vscode/*
build
*.csv
*.tinn
*.log
*.o
*.plist
*.yml
*.DS_Store
*.bin
*.idx*-ubyte

# Datasets
test.txt
train.txt
test-images.txt
test-labels.txt
train-images.txt
train-labels.txt

# Valgrind files
valgrind-out.txt

# Python venv files
**/venv/**
*.cpython-*

# Plotting module
*.png
*.tar
federated_learning_analysis/input/*
