[submodule "tinn"]
	path = tinn
	url = https://github.com/Rubisoft-Partnership/tinn
[submodule "tiny-dnn"]
	path = tiny-dnn
	url = https://github.com/tiny-dnn/tiny-dnn
[submodule "framework/lib/logging"]
	path = framework/lib/logging
	url = https://github.com/gabime/spdlog.git
